# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# editor backups
*~

# The whole lib directory - this is a symlink to another repo
/lib
